h1 {
    color: blue;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: purple;
    font-family: Helvetica, sans-serif;
    text-align: right;
}

p {
    font-weight: 800;
    text-decoration: none;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #251ab9;
}

th {
    font-weight: 800;
    background-color: #251ab9;
    color: #ffffff;
}

tr.alt td {
    background-color: #9AEFFC;

}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: upper-roman;
}

#menu-bar a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #7bd4f1;
    padding: 5px;
}

#menu-bar a:hover {
    background-color: #7bd4f1;
    color: #ffffff;

}